================================
#ignore IDE and OS configs
================================
.DS_Store
.idea

================================
#ignore logs
================================
logs/

================================
#ignore npm and bower packages
================================
node_modules/
bower_components/

================================
#ignore build/tmp/release path
================================
build/
tmp/
release/

================================
#ignore user_uploads/
================================
user_uploads/
src/server/user_uploads/