<div class="container">
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1676410812625941',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>

    <div class="row" style="display: table">
        <h1>Hi {{user.firstname}}  {{user.lastname}}!</h1>
        <p>You're logged in!!</p>
        <button type="button" class="btn btn-primary" id="logout" ng-click="logout()">Log out</button>
    </div>
    <div class="row">

    </div>
    <br>
    <div class="row" style="background-color: lightblue;">
        <!--<ul>-->
        <!--<li ng-repeat="document in documents">-->
        <!--({{user.document.name}} -->
        <!--</li>-->
        <!--</ul>-->
        <document-upload  user="user" ng-if="user">
        </document-upload>

    </div>

</div>

