<div class="container">
    <div class="row" style="display: table">
        <h1>Hi {{user.firstname}}  {{user.lastname}}!</h1>
        <p>You're logged in!!</p>
        <button type="button" class="btn btn-primary" id="logout" ng-click="logout()">Log out</button>
    </div>
    <div class="row">

    </div>
    <br>
    <div class="row" style="background-color: lightblue;">
        <!--<ul>-->
        <!--<li ng-repeat="document in documents">-->
        <!--({{user.document.name}} -->
        <!--</li>-->
        <!--</ul>-->
        <document-upload  user="user" ng-if="user">
        </document-upload>

    </div>

</div>

