<form>
    <div class="form-group">
        <label for="exampleInputFile">Document</label>
        <input type="file" id="exampleInputFile" file-model="customer.files" multiple>
    </div>
    <button type="submit" class="btn btn-default" id="btnupload" ng-click="fileUpload()">Submit</button>
</form>
<p>&nbsp;</p>

<p>Get files:</p>
<button class="btn btn-default" ng-click="getFiles()">Pull</button>

<ul class="list-group">
    <li class="list-group-item list-group-item-success">Files</li>
    <li class="list-group-item" ng-repeat="filename in customer.filenames" >
        <a ng-click="readFile(filename)">{{filename}}</a>
    </li>
</ul>

<iframe ng-src="{{customer.url}}" class="iframe-report"></iframe>
